<div class="container">
  <div class="row">
<div class="card bscard col-4" style="width: 18rem;">
  <img class="card-img-top" src="../../assets/download.svg" alt="Card image cap">
  <div class="card-body">
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
<div class="card bscard col-4" style="width: 18rem;">
  <img class="card-img-top" src="../../assets/download.svg" alt="Card image cap">
  <div class="card-body">
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
<div class="card bscard col-4" style="width: 18rem;">
  <img class="card-img-top" src="../../assets/download.svg" alt="Card image cap">
  <div class="card-body">
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
</div>
</div>


<!-- <div class="row bscard">
    <div class="col-3" *ngFor="let obj of arr">
        <div class="card" style="width: 18rem;"  >
                <img class="card-img-top"
                 src="{{obj.imageLink}}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{obj.name}}</h5>
                    <p class="card-text">{{obj.city}}</p>
                    <a href="#" class="btn btn-primary">
                        {{obj.address}}</a>
 
         <button type="submit"
         [routerLink]="['/update',obj._id]">Update</button>
                </div>
            </div>
     
    
        </div>
    </div> -->